# root dir
ROOT_DIR="/usr/local" # comment 1

# bin dir
BIN_DIR=${ROOT_DIR}/bin # comment 2

# tmp dir
TMP_DIR=${MY_TMP_DIR:-/tmp} # comment 3

# conf dir
CONF_DIR=${MY_DIR:=${ROOT_DIR}/my}/etc # comment 4

# with spaces &　quotes
EXT_DIR = "test 'one'"